html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #ff9900;
  --color-primary-light: #ffb84d;
  --color-primary-dark: #e1670e;

  --color-grey-light: #cacaca;
  --color-grey-dark: #666666;
  --color-grey-extra: #414141;

  --color-black: #000;
  --color-white: #fff;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
}

/******** HELPER CLASSES ********/

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.23;
  color: var(--color-black);
}

.btn {
  margin: 0;
  background-color: var(--color-primary);
  border-radius: 16px;
}

/******** HEADER ********/

.header {
  /* width: 100vw; */
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  position: relative;
}

.header__content {
  align-items: center;

  padding: 14px 63px;
}

.burger {
  display: none;
}

.header__logo {
  width: 285px;
  height: 72px;
  margin-right: auto;
  outline: none;
}

.header__nav {
  margin: auto;
}

.nav__list {
  gap: 5.3rem;
}

.nav__link {
  font-weight: 600;
  font-size: 1.13rem;
  line-height: 1.22;
  color: var(--color-black);
  position: relative;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  outline: none;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary-dark);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:focus-visible:not(:hover) {
  outline-offset: 2px;
  outline: 2px solid var(--color-primary);
}

.nav__link:active:not(:focus-visible) {
  color: var(--color-primary-dark);
}

.nav__link:active::after {
  opacity: 1;
}

.header__btn svg {
  width: 28px;
  height: 28px;
  padding-top: 4px;
  padding-left: 4px;
}

.header__btn rect,
.form-btn__submit rect {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

.header__btn path,
.form-btn__submit path {
  stroke: var(--color-black);
  transition: stroke 0.3s ease-in-out;
}

.header__btn:hover:not(:focus-visible) rect,
.form-btn__submit:hover:not(:focus-visible) rect {
  fill: var(--color-primary);
}

.header__btn:hover:not(:focus-visible) path,
.form-btn__submit:hover:not(:focus-visible) path {
  stroke: var(--color-primary);
}

.header__btn:focus-visible,
.form-btn__submit:focus-visible {
  outline: 2px solid var(--color-primary);
  /* outline-offset: 2px; */
}

.header__form {
  display: flex;
  align-items: center;

  padding: 12px 20px;
  padding-left: 32px;

  max-width: 539px;
  width: 100vh;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;

  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 0.2s,
    visibility 0.3s ease-in-out 0.2s;
}

.header__form-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;

  margin: 0;
  background: transparent;
  border-bottom: 1px solid #cacaca;
  margin-right: 20px;
}

.header__form-input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #cacaca;
}

.header__form-input:focus-visible {
  outline: 0;
  opacity: 0.8;
}

.form-btn__submit {
  /* padding: 0; */
  margin-right: 20px;
}

.form-close {
  padding: 0;
}

.form-close rect {
  transition: fill 0.3s ease-in-out;
}
.form-close circle {
  transition: stroke 0.3s ease-in-out;
}

.form-close:hover rect {
  fill: var(--color-primary);
}

.form-close:hover circle {
  stroke: var(--color-primary);
}

.form-close:focus-visible {
  outline: none;
  outline-offset: 1px;
  outline: 2px solid var(--color-primary);
}

.form-close:active rect {
  fill: var(--color-black);
}

.form-close:active circle {
  stroke: var(--color-black);
}

.form__active {
  transform: translateY(-50%);
  opacity: 1;
  visibility: visible;
}

/******** HERO ********/

.hero {
  padding-top: 50px;
  padding-bottom: 25px;
}

.hero__container {
  position: relative;
  z-index: 0;
  max-width: 110.6rem;
  min-height: 620px;
  padding: 6.25rem 5rem;
  height: 100%;
}

.swiper.hero__swiper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 32px;
  overflow: hidden;

  /* min-height: 38.75rem; */
}

.swiper__pagination.swiper-bullet-pagination {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 30px !important;
  gap: 11px;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #cacaca !important;
  opacity: 0.6 !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  opacity: 1 !important;
}

.slide-1 {
  background-image: url("../img/hero-img1.jpg");
  background-size: cover;
  width: 100%;

  /* border-radius: 32px; */
}
.slide-2 {
  background-image: url("../img/hero-img2.jpg");
  background-size: cover;
  width: 100%;
}
.slide-3 {
  background-image: url("../img/hero-img3.jpg");
  background-size: cover;
  width: 100%;
}

.hero__title {
  font-weight: 800;
  font-size: 4.38rem;
  line-height: 1.21;
  color: var(--color-white);
  max-width: 53.1rem;
  margin-bottom: 24px;
}

.hero__descr {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.21;
  max-width: 53.1rem;
  color: var(--color-white);
  margin-bottom: 90px;
}

.hero__btn {
  padding: 25px 39px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.44rem;
  line-height: 1.22;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:focus-visible,
.hero__btn:hover {
  background-color: var(--color-primary-light);
}

.hero__btn:active {
  background-color: var(--color-primary-dark);
}

/******** ABOUT ********/

.about {
  padding-top: 25px;
  padding-bottom: 25px;
}

.about__title {
  margin-bottom: 20px;
}

.about__descr {
  max-width: 77.2rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: var(--color-black);
}

/******** PROJECTS ********/

.projects {
  padding-top: 25px;
  padding-bottom: 50px;
}

.projects__left {
  width: 49%;
  align-items: flex-end;
  border-radius: 32px;
  background-image: url("../img/about-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 2rem;
}

.wrapper-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  width: 100%;
}

.project__descr {
  font-weight: 700;
  font-size: 1rem;
  line-height: 2;
  color: var(--color-white);
  max-width: 27.1rem;
}

.project__btn {
  padding: 17px 38px;
  outline: 3px solid var(--color-primary);
  border-radius: 16px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
  -webkit-appearance: none;
}

.project__btn:focus-visible,
.project__btn:hover {
  background-color: var(--color-primary);
}

.project__btn:active {
  background-color: var(--color-primary-dark);
  outline: 3px solid var(--color-primary-dark);
}

.projects__right {
  flex-direction: column;
}

.info-right {
  padding: 4.06rem 7.2rem 4.06rem 18.75rem;
  outline: 1px solid var(--color-grey-light);
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-position: 9% 50%;
  background-size: 22%;
}

.info-right:not(:last-child) {
  margin-bottom: 2rem;
}

.about-gr1 {
  background-image: url(../img/about-gr1.svg);
}

.about-gr2 {
  background-image: url(../img/about-gr2.svg);
}

.info-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.22;
  color: var(--color-black);
  margin-bottom: 8px;
}

.info-right-descr {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--color-black);
  max-width: 28.1rem;
}

/******** WORKING ********/

.working {
  padding-top: 50px;
  padding-bottom: 61px;
}

.working__title {
  margin-bottom: 50px;
}

.working__steps {
  gap: 85.5px;
  margin-bottom: 45px;
}

.step-number {
  padding: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.23;
  color: var(--color-black);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.step-number:hover {
  color: var(--color-primary);
}

.step-number:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--color-primary);
}

.step-number:active {
  color: var(--color-primary-dark);
}

/* .step-number-first {
  color: var(--color-primary-dark);
} */

.descr__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--color-black);
}

.descr__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  max-width: 48.31rem;
  color: var(--color-black);
  margin-right: 9rem;
  margin-bottom: 18px;
}

.btn__left-block {
  align-self: flex-end;
}

.descr__right-block {
  width: 870px;
  border-radius: 32px;
  min-height: 460px;
  /* background-image: url(../img/working-img1.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.working-img1 {
  background-image: url("../img/working-img1.jpg");
}
.working-img2 {
  background-image: url("../img/working-img2.jpg");
}
.working-img3 {
  background-image: url("../img/working-img3.jpg");
}
.working-img4 {
  background-image: url("../img/working-img4.jpg");
}

.working__btn-first {
  padding: 20px 38px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--color-white);
  margin-right: 29px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.working__btn-first:focus-visible,
.working__btn-first:hover {
  background-color: var(--color-primary-light);
}

.working__btn-first:active {
  background-color: var(--color-primary-dark);
}

.working__btn-second {
  padding: 20px 37px;
  outline: 1px solid var(--color-black);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--color-black);
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.working__btn-second:focus-visible,
.working__btn-second:hover {
  background-color: var(--color-grey-dark);
  outline: 1px solid var(--color-grey-dark);
  color: var(--color-white);
}

.working__btn-second:active {
  background-color: var(--color-black);
  outline: 1px solid var(--color-black);
  color: var(--color-white);
}

/******** FAQ ********/

.faq {
  padding-top: 50px;
  padding-bottom: 102px;
}

.faq__title {
  padding-bottom: 32px;
}

.faq__item.ac {
  border: none;
  margin: 0;
  border-top: 1px solid var(--color-grey-light);
  border-bottom: 1px solid var(--color-grey-light);
  margin-bottom: -1px;
  position: relative;
  transition: border-color 0.3s ease-in-out;
}

.faq-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 32px;
  max-width: 1003px;
  color: var(--color-black);
}

.faq__item:focus-within {
  border-color: var(--color-primary);
  z-index: 1;
}

.faq__item:hover:not(:active) {
  border-color: var(--color-primary);
  z-index: 1;
}

.faq__item:hover:not(:active) .faq__item-text {
  color: var(--color-primary);
}

.faq__item ellipse,
.faq__item path {
  transition: fill 0.3s ease-in-out;
}

.faq__item:hover:not(:active) ellipse {
  fill: var(--color-primary);
}

.faq__item:hover:not(:active) path {
  fill: var(--color-white);
}

.faq__btn:focus-visible:not(:active) .faq__item-text {
  color: var(--color-primary);
}

.faq__btn:focus-visible:not(:active) ellipse {
  fill: var(--color-primary);
}

.faq__btn:focus-visible:not(:active) path {
  fill: var(--color-white);
}

.faq__btn svg {
  transition: transform 0.3s ease-in-out;
}

.faq__btn:active svg {
  transform: rotate(45deg);
}

.faq__item-text {
  padding-top: 39px;
  padding-bottom: 39px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--color-black);
  text-align: start;
  transition: color 0.3s ease-in-out;
}

.faq__btn {
  padding: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  outline: none;
}

/******** FOOTER ********/

.footer {
  background-color: var(--color-black);
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  justify-content: space-between;
}

.footer__content {
  width: 100%;
}

.footer__left-menu {
  width: 33.9%;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__link {
  width: max-content;
}

.footer__link a {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2;
  color: var(--color-grey-light);
  transition: color 0.3s ease-in-out;
}

.footer__nav {
  margin-bottom: 90px;
}

.nav__link-f:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--color-primary);
}

.nav__link-f:hover {
  color: var(--color-primary);
}

.nav__link-f:active {
  color: var(--color-primary-dark);
}

.link-ok {
  /* padding: 50px; */
  margin-right: 21px;
}

.footer-icon {
  outline: none;
}

.footer-icon path {
  transition: fill 0.3s ease-in-out;
}

.footer-icon:focus-visible svg {
  outline-offset: 2px;
  outline: 2px solid var(--color-primary);
}

.footer-icon:hover path {
  fill: var(--color-primary);
}

.footer-icon:active path {
  fill: var(--color-primary-dark);
}

.center-menu {
  width: 45.5%;
  height: 100%;
}

.footer-title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.23;
  color: var(--color-grey-light);
}

.form {
  flex-direction: column;
  gap: 1.56rem;
}

.form__input {
  box-sizing: border-box;
  max-width: 35.625rem;
  height: 3.75rem;
  margin-right: 1.25rem;
  padding: 14px 24px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: var(--color-grey-light);
  text-decoration: none;
  background-color: var(--color-grey-extra);
  border: none;
  border-radius: 16px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.visually-hidden {
  visibility: hidden;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: var(--color-grey-light);
  transition: color 0.3s ease-in-out;
}

.form__input:focus-visible,
.form__input:hover,
.form__input:active {
  background-color: var(--color-grey-dark);
}

.form__input::placeholder:active {
  color: var(--color-white);
}

.form__textarea {
  max-width: 35.625rem;
  height: 9.375rem;
  margin-right: 1.25rem;
  padding: 14px 24px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: var(--color-grey-light);
  background-color: var(--color-grey-extra);
  border: none;
  border-radius: 16px;
  resize: none;
  outline: none;
  margin-bottom: 5.5px;
  transition: background-color 0.3s ease-in-out;
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: var(--color-grey-light);
  transition: color 0.3s ease-in-out;
}

.form__textarea:focus-visible,
.form__textarea:hover,
.form__textarea:active {
  background-color: var(--color-grey-dark);
}

.form__textarea::placeholder:active {
  color: var(--color-white);
}

.form__btn {
  margin-left: 150px;
  max-width: 17rem;
  margin-right: 20px;
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.form__btn:focus-visible,
.form__btn:hover {
  background-color: var(--color-primary-light);
}

.form__btn:active {
  background-color: var(--color-primary-dark);
}

.footer-descr {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: var(--color-grey-light);
  max-width: 22.69rem;
  margin: 0;
  padding-top: 87px;
  letter-spacing: 0.05px;
}

/***** TAB *****/

.tabs-nav__btn--active {
  color: #e1670e;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: block;
  animation-name: slowly;
  animation-duration: 0.8s;
}

@keyframes slowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
